body {
    background-color: wheat;
}
.titulo1{text-align: center}

#canvas{
    background-color: white;

    border: 3px solid black; border-radius: 3px;

    display:block; margin: 0 auto;
}

div{
    border: 2px solid black; border-radius: 3px;

    background-color: white;

    display: flex; flex-flow: column wrap; gap: 0px 0px;
    align-items: center; margin: 0 auto;

    width:600px;
}